@namespace inkscape 'http://www.inkscape.org/namespaces/inkscape';

html {
  font-family: Arial, sans-serif
}

html, body, svg, .container {
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0;
}

.controls
{
  position: absolute;
  bottom:1em;
  right:1em;
}

.container {
  display: flex;
  flex-direction: row;

  .meta-display {
    min-width:30%;
    padding:1em;
  }

}

.floor-plan {
  width:100%;
  background: #CFC;
  padding:1em;

  svg {

    //noinspection SpellCheckingInspection
    .flipped & {
      transform: scale(-1, 1);
    }

    g
    {
      pointer-events: none;

      &.label-layer
      {
        display: none !important;

        .labels &
        {
          display: inline !important;
        }
      }

      &#labels { /* Shim this up using IDs for now */
        .labels.flipped & {
          display: none !important;
        }
      }

      &#labelsReversed {
        .labels & {
          display: none !important;
        }

        .labels.flipped & {
          display: inline !important;
        }
      }


      &#rooms { /* Shim this up using IDs for now */
        * {
          visibility: hidden;
          pointer-events: all;
          cursor:pointer;
          mix-blend-mode: multiply;

          &:hover, &.hover
          {
            visibility: visible;
          }
        }
      }

    }
  }
}